<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="home.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://cdn-icons-png.flaticon.com/128/3068/3068327.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/fonts/css/all.min.css" />
    <title>HuyKhac Shop</title>
    <link rel="stylesheet" href="/css/orderDetail.css" />
  </head>

  <body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="bootstrap" viewBox="0 0 118 94">
        <title>Bootstrap</title>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
        ></path>
      </symbol>
      <symbol id="home" viewBox="0 0 16 16">
        <path
          d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"
        />
      </symbol>
      <symbol id="speedometer2" viewBox="0 0 16 16">
        <path
          d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"
        />
        <path
          fill-rule="evenodd"
          d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"
        />
      </symbol>
      <symbol id="table" viewBox="0 0 16 16">
        <path
          d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"
        />
      </symbol>
      <symbol id="people-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        <path
          fill-rule="evenodd"
          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
        />
      </symbol>
      <symbol id="grid" viewBox="0 0 16 16">
        <path
          d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"
        />
      </symbol>
      <symbol id="contact" viewBox="0 0 16 16">
        <path
          d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z"
        />
      </symbol>
      <symbol id="voucher" viewBox="0 0 16 16">
        <path
          d="M4 4.85v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Z"
        />
        <path
          d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3h-13ZM1 4.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1.05a2.5 2.5 0 0 0 0 4.9v1.05a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-1.05a2.5 2.5 0 0 0 0-4.9V4.5Z"
        />
      </symbol>
    </svg>
    <!-- <div class="container-xl"> -->

    <!-- HEAD -->
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
    >
      <!-- Avatar -->
      <a
        href="/product"
        class="d-flex align-items-center col-md-2 mb-2 mb-md-0 text-dark text-decoration-none"
      >
        <img
          class="bi me-2"
          width="100%"
          height="50"
          role="img"
          aria-label="KhacHuyShop"
          src="https://source.unsplash.com/random/300x200?sig=${Math.random()}"
        />
      </a>

      <!-- Menu -->
      <ul class="nav col-12 col-md-6 mb-2 justify-content-center mb-md-0">
        <li>
          <a href="/product" class="custom-menu-header active nav-link px-2"
            ><svg class="bi d-block mx-auto mb-1" width="18" height="18">
              <use xlink:href="#home" /></svg>Trang Chủ</a>
        </li>
        <li>
          <div class="dropdown">
            <span
              class="custom-menu-header dropdown-toggle nav-link px-2"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <svg class="bi d-block mx-auto mb-1" width="18" height="18">
                <use xlink:href="#grid" />
              </svg>
              Danh Mục
            </span>
            <ul class="dropdown-menu">
              <li>
                <a class="custom-dropdown-item dropdown-item" href="#"
                  >Sách kinh doanh</a
                >
              </li>
              <li>
                <a class="custom-dropdown-item dropdown-item" href="#"
                  >Sách thiếu nhi</a
                >
              </li>
              <li>
                <a class="custom-dropdown-item dropdown-item" href="#"
                  >Sách else here</a
                >
              </li>
              <li>
                <a class="custom-dropdown-item dropdown-item" href="#"
                  >Sách else here</a
                >
              </li>
              <li>
                <a class="custom-dropdown-item dropdown-item" href="#"
                  >Sách else here</a
                >
              </li>
              <li>
                <a class="custom-dropdown-item dropdown-item" href="#"
                  >Sách else here</a
                >
              </li>
              <li>
                <a class="custom-dropdown-item dropdown-item" href="#"
                  >Sách else here</a
                >
              </li>
              <li>
                <a class="custom-dropdown-item dropdown-item" href="#"
                  >Sách else here</a
                >
              </li>
              <li>
                <a class="custom-dropdown-item dropdown-item" href="#"
                  >Sách else here</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="#" class="custom-menu-header nav-link px-2 link-primary"
            ><svg class="bi d-block mx-auto mb-1" width="18" height="18">
              <use xlink:href="#table" /></svg
            >Giỏ Hàng</a
          >
        </li>
        <li>
          <a href="#" class="custom-menu-header nav-link px-2"
            ><svg class="bi d-block mx-auto mb-1" width="18" height="18">
              <use xlink:href="#voucher" /></svg
            >Voucher</a
          >
        </li>
        <li>
          <a href="/admin/dashboard" class="custom-menu-header nav-link px-2"
            ><svg class="bi d-block mx-auto mb-1" width="18" height="18">
              <use xlink:href="#speedometer2" /></svg
            >Quản Lý</a
          >
        </li>
      </ul>

      <!-- Search -->
      <form
        action="/product/search"
        class="col-12 col-lg-3 mb-3 mb-lg-0 me-lg-3"
      >
        <input
          type="search"
          name="search"
          class="form-control"
          placeholder="Nhập tên sách bạn  muốn tìm ?"
          aria-label="Search"
        />
      </form>

      <!-- Profile -->
      <div class="col-md-0 text-end">
        <div class="dropdown text-end">
          <a
            href="#"
            class="d-block link-dark text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://github.com/mdo.png"
              alt="mdo"
              width="32"
              height="32"
              class="rounded-circle"
            />
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li>
              <a class="custom-dropdown-item dropdown-item" href="#"
                >Thông Tin</a
              >
            </li>
            <li>
              <a class="custom-dropdown-item dropdown-item" href="#"
                >Giỏ Hàng</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="custom-dropdown-item dropdown-item" href="#"
                >Đăng Nhập</a
              >
            </li>
            <li>
              <a class="custom-dropdown-item dropdown-item" href="#">Đăng Ký</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <!-- BODY -->

    <div class="container">
      <div class="section">
        <hr />
        <h3>HOÁ ĐƠN MUA SÁCH</h3>
        <hr />
        <div class="order-infor">
          <div class="order-user">
            <h4>THÔNG TIN CÁ NHÂN</h4>
            <p>Họ tên: <%= data.currentUser.username%></p>
            <p>Email: <%= data.currentUser.email%></p>
            <p>Số điện thoại: <%= data.currentUser.phone%></p>
            <p>Địa chỉ: <%= data.currentUser.address%></p>
          </div>
          <div class="order-text">
            <h4>THÔNG TIN ĐƠN HÀNG</h4>
            <p>Thời gian đặt: <%= data.order.createdAt%></p>
            <p>Mã đơn hàng: <%= data.order.orderCode%></p>
            <p>Trạng thái đơn: <%= data.order.orderStatus%></p>
            <p>Voucher: <%= data.order.voucherId%></p>
            <p>Thuế: <%= data.order.tax%> %</p>
            <p>Tổng tiền đơn: <%= data.order.totalPrice%></p>
          </div>
        </div>
        <h4>THÔNG TIN SÁCH</h4>
        <div class="order-book">
          <div class="custom-table">
            <table class="table table-dark text-left">
              <thead>
                <tr>
                  <th scope="col">Tên sách</th>
                  <th scope="col">Tác giả</th>
                  <th scope="col">Giá sách</th>
                  <th scope="col">Số lượng</th>
                  <th scope="col">Flash sale</th>
                  <th scope="col">Tổng chi phí</th>
                </tr>
              </thead>
              <tbody>
                <% data.order.OrderDetails.forEach(orderDetail => { %>
                <tr class="custom-table-order">
                  <td><%= orderDetail.Product.name %></td>
                  <td><%= orderDetail.Product.author %></td>
                  <td>
                    <%= orderDetail.Product.priceSelling.toLocaleString('vn-VN',
                    { style: 'currency', currency: 'VND' }) %>
                  </td>
                  <td><%= orderDetail.quantity %></td>
                  <%if(orderDetail?.Product?.FlashSaleProducts[0]){%>
                  <td>
                    -<%=
                    orderDetail?.Product?.FlashSaleProducts[0].discountAmount.toLocaleString('vn-VN',
                    { style: 'currency', currency: 'VND' })%>
                  </td>
                  <td>
                    <%= (orderDetail.Product.priceSelling * orderDetail.quantity
                    -
                    orderDetail?.Product?.FlashSaleProducts[0].discountAmount).toLocaleString('vn-VN',
                    { style: 'currency', currency: 'VND' }) %>
                  </td>
                  <%}else{%>
                  <td>0</td>
                  <td>
                    <%= (orderDetail.Product.priceSelling *
                    orderDetail.quantity).toLocaleString('vn-VN', { style:
                    'currency', currency: 'VND' }) %>
                  </td>
                  <%}%>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
        <h3>Thanh toán:</h3>
        <p>Chi tiết vận chuyển: A -> B</p>
        <p>Giá sách</p>
        <p>Voucher</p>
        <p>flashsale</p>
        <p>Tổng chi phí</p>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="footer">
      <footer class="py-5">
        <div class="row">
          <div class="col-3 col-md-4 mb-1">
            <h5>HỖ TRỢ KHÁCH HÀNG</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted"
                  >Sản phẩm & Đơn hàng: 0339118095</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted"
                  >Kỹ thuật & bảo hành: 0891987832</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted"
                  >Điện thoại: 0986745062 (giờ hành chính)</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted"
                  >Email: khachuy469@gmail.com</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted"
                  >Facebook: Nguyễn Khắc Huy</a
                >
              </li>
            </ul>
          </div>

          <div class="col-6 col-md-3 mb-3">
            <h5>LIÊN KẾT NHANH</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Sách bán chạy</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Sách thiếu nhi</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Sách giáo khoa</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Sách tâm lý</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Sách mới</a>
              </li>
            </ul>
          </div>

          <div class="col-md-4 offset-md-1 mb-3">
            <form>
              <h5>Đăng nhập & Đăng ký</h5>
              <p>Đăng ký đăng nhập bằng email của bạn ngay !</p>
              <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <label for="newsletter1" class="visually-hidden"
                  >Email address</label
                >
                <input
                  id="newsletter1"
                  type="text"
                  class="form-control"
                  placeholder="Email address"
                />
                <button class="btn btn-primary" type="button">Gửi</button>
              </div>
            </form>
          </div>
        </div>

        <div
          class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
        >
          <p>&copy; Khachuy Shop, Inc. So 5 - hong ha - dan phuong - ha noi.</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3">
              <a class="link-dark" href="#"
                ><svg class="bi" width="24" height="24">
                  <use xlink:href="#twitter" /></svg
              ></a>
            </li>
            <li class="ms-3">
              <a class="link-dark" href="#"
                ><svg class="bi" width="24" height="24">
                  <use xlink:href="#instagram" /></svg
              ></a>
            </li>
            <li class="ms-3">
              <a class="link-dark" href="#"
                ><svg class="bi" width="24" height="24">
                  <use xlink:href="#facebook" /></svg
              ></a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
    <!-- </div> -->

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
